<div class="text-center">
  <p>心を揺さぶる演技を</p>
  <%= link_to "はじめる", "#", class: "btn btn-primary" %>
</div>

<p>テスト</p>
<script type="text/javascript">
  $(document).ready(function() {
    $("p").text("成功！！");
  });
</script>