<div class="text-center">
  <h2>練習したいセリフを選ぼう！</h2>
  </br>
  <% @quotes.each do |quote| %>
      <%= link_to quote_path(quote), class: 'btn btn-danger col-md-3' do %>
         <%= quote.title %>
      <% end %>
  <% end %>
</div>
