<footer id="footer">
  <h4><%= link_to 'プライバシーポリシー', page_path('plivacypolicy'), class: "link"  %>&nbsp;&nbsp;&nbsp;<%= link_to '利用規約', page_path('terms'), class: "link"  %>&nbsp;&nbsp;&nbsp;<%= link_to '問い合わせ先', page_path('information'), class: "link"  %></h4>
</footer>