<header>
<div class="container">
  <!-- row (行) の指定 -->
  <div class="row justify-content-between">
    <!-- col (列) の指定 -->
    <div class="col-10">
    <%= link_to image_tag('logo.png', size: '120x150'), root_path %>
    </div>
    <div class="col-2 d-flex align-items-center">
    <%= link_to 'セリフ一覧', quotes_path %>
    </div>
  </div>
</div>
</header>