<h2 class="text-danger">セリフ『<%= @result.quote.title %>』の</br>あなたの点数は<%= @score.ceil(2)%>点です！(100点満点中)</h4>
<h4>感情が良く出ています！素晴らしい！<br>高得点まであと一歩です！</h4>
</br>
<%= link_to 'もう一度チャレンジ！', quote_path(@result.quote_id), class: "link"  %>