<p class="text-danger">セリフ『<%= @result.quote.title %>』の</br>あなたの感情の点数は<%= (@result.score*36).ceil(2)%>点です！(100点満点中)</p>
<p>もっと感情を出すことができるはず！自分の殻を破って演技に全力投球してみて下さい！</p>
<p>ヒント：演技の方向性を変える事で判定結果が変わる場合があります。</br>例:泣き喚く演技→悲しみを堪えるような演技など・・</p>
<p><%= link_to 'もう一度チャレンジ！', quote_path(@result.quote_id), class: "link"  %></p>
</br>