
<div class="text-center">
  <%= @result.quote.title %><br>
  <br>
  <% if @result.quote.quote_image.present? %>
    <%= image_tag @result.quote.quote_image.url %>
  <% end %><br>
  <br>
 
  <%=audio_tag("#{@result.voice_data.url}", controls: true) %>
  <h3>あなたのスコアは<%= @score.floor %>点です！！！</h3>
</div>
