<div class="container-sm" style="width: 100%;">
</br>
  <h2>問い合わせ先</h2>
  <h5>当サービスは、下記の者が運営しております。質問やご意見等ございましたら下記TwitterアカウントへDM下さいますようよろしくお願いします。</h5>
  <h5>Twitter ID: <%= link_to "@izumi60173364", "https://twitter.com/izumi60173364", class: "link" %></h5>
  </br>
  </br>
</div>