<div class="container-sm" style="width: 100%;">
</br>
  <h2>プライバシーポリシー</h2>
  <h2>取得する情報</h2>
  <h5>当サービスは、利用者から以下の情報を取得します。</br>・声、音声</h5>

  <h2>利用者の情報を利用する目的</h2>
  <h5>当サービスは、利用者から取得した情報を、以下の目的のために利用します。</br>・利用者の当サービスサービスの利用履歴を管理するため</br>・当サービスにおける利用者の行動履歴を分析し、当サービスの維持改善に役立てるため</br>・以上の他、当サービスサービスの提供、維持、保護及び改善のため</h5>

  <h2>第三者提供</h2>
  <h5>当サービスは、利用者から取得する情報のうち、個人データ（個人情報保護法第２条第６項）に該当するものついては、あらかじめ利用者の同意を得ずに、第三者（日本国外にある者を含みます。）に提供しません。
  但し、次の場合は除きます。</br>・個人データの取扱いを外部に委託する場合</br>・当サービスが買収された場合</br>・事業パートナーと共同利用する場合（具体的な共同利用がある場合は、その内容を別途公表します。）</br>・その他、法律によって合法的に第三者提供が許されている場合</h5>

  <h2>アクセス解析ツール</h2>
  <h5>当サービスは、利用者のアクセス解析のために、「Googleアナリティクス」を利用しています。Googleアナリティクスは、トラフィックデータの収集のためにCookieを使用しています。トラフィックデータは匿名で収集されており、個人を特定するものではありません。Cookieを無効にすれば、これらの情報の収集を拒否することができます。詳しくはお使いのブラウザの設定をご確認ください。Googleアナリティクスについて、詳しくは以下からご確認ください。
  </h5>
  <h6>https://marketingplatform.google.com/</br>about/analytics/terms/jp/</h6>

  <h2>プライバシーポリシーの変更</h2>

  <h5>当サービスは、必要に応じて、このプライバシーポリシーの内容を変更します。この場合、変更後のプライバシーポリシーの施行時期と内容を適切な方法により周知または通知します。</h5>

  <h2>お問い合わせ</h2>
  <h5>利用者の情報の削除をご希望の場合は、判定結果のURLを添えて以下のTwitter IDまでDMにてご連絡ください。</br>Twitter ID: @izumi60173364</h5>
  </br>
  </br>
  </br>
  <div class="text-center">
   <h4> <%= link_to 'TOPページへ', root_path , class: "link" %></h4>
  </div>
  </br>
</div>