ul{list-style:none;}

body{
	font: 14px/1.9 'Noto Sans JP', Arial, Verdana, 游ゴシック, YuGothic,'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', メイリオ, Meiryo,sans-serif;
	font-weight: 300;
	-webkit-text-size-adjust:100%;
	overflow-x: hidden;
	color: #000;
	background: #fff;
}

a{
	color: #0066ff;
	text-decoration: none;
}

a:hover, .active{
  text-decoration: underline;
}

a:active, a:focus,input:active, input:focus{outline:0;}



#header{
	text-align: center;
	height: 60px;
}

#header img{
	margin-top: 10px;
}

#mainImg{
  margin : 0 auto;
  position: relative;
  overflow: hidden;
  width: 100%;
}

#mainImg img{
  position: absolute;
  width: 60%;
}

#footer{
	text-align: center;
	height: 10px;
}

#back{
	background:url('main.jpg') center no-repeat;
	background-size: cover;
	width: 100%;
	height: 980px;
}

img{
	max-width: 100%;
	height: auto;
}

.inner{
	width: 94%;
	margin: 0 auto;
	padding-top: 100px;
	padding-bottom: 50px;
}

.innerS{
	width: 60%;
	margin: 0 auto;
	padding-top: 100px;
	padding-bottom: 80px;
}

.innerS h1{
	padding-bottom: 50px;
}

.usemic{
	padding-bottom: 80px;
}

.font-size text{
	font-size: 23px;
}

.quote_emotion_index{
	padding-bottom: 80px;
}

.col3 img{
	display: block;
	margin: 0 auto 5px;
}

.col3 li{
	line-height: 2.0;
}

.col3 .img{
	padding: 80px 50px;
	margin-bottom: 40px;
	line-height: 0 !important;
	background: #f6f6f6;
}

.link{
	color: red;
}

#startbtn{
	margin-top: 30px;
}

.catch-text{
	margin-top: 390px;
	margin-left: 380px;
	color: #524949;
	font-family: "arial unicode ms","游ゴシック";
}
.catch-text h1{
	text-shadow: 3px 3px 5px white;
	line-height: 70px;
	font-size: 50px;
}
.text-center h2{
	padding-top: 50px;
}
/* レスポンシブ設定
------------------------------------------------------------*/

@media only screen and (min-width: 1200px){
	.inner{
		width: 1024px;
	}
}
@media only screen and (min-width: 1100px){
	body{
		font-size:14px;
	}
	
	
	.col3{
		text-align: center;
	}

	.col3 li{
		display: inline-block;
		width: 28%;
		padding: 0 2.5% 50px;
		margin-bottom: 0;
		vertical-align: top;
		text-align: left;
	}
	
    #footer{
		padding: 10px 10px 50px 10px;
	}

	#mainImg{
		margin : 0 auto;
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 400px;
	}
	#mainImg img{
		position: absolute;
		width: 100%;
	}
	#startbtn{
		margin-top: 20px;
	}
	
	.catch-text{
		margin-top: 320px;
		margin-left: 800px;
		color: #524949;
		font-family: "arial unicode ms","游ゴシック";
	}
	.catch-text h1{
		text-shadow: 3px 3px 5px white;
		line-height: 70px;
		font-size: 50px;
	}
	.text-center h2{
        padding-top: 20px;
	}

	#back{
		background:url('main.jpg') center no-repeat;
		background-size: cover;
		width: 100%;
		height: 930px;
	}
}
@media only screen and (max-width: 643px){
	body{
		font-size:14px;
	}
	
	
	.col3{
		text-align: center;
	}

	.col3 li{
		display: inline-block;
		width: 28%;
		padding: 0 2.5% 50px;
		margin-bottom: 0;
		vertical-align: top;
		text-align: left;
	}
	
    #footer{
		padding: 10px 10px 50px 10px;
	}

	#mainImg{
		margin : 0 auto;
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 400px;
	}
	#mainImg img{
		position: absolute;
		width: 100%;
	}
	#startbtn{
		margin-top: 40px;
	}
	
	.catch-text{
		margin-top: 470px;
		margin-left: 500px;
		color: #524949;
		font-family: "arial unicode ms","游ゴシック";
	}
	.catch-text h1{
		text-shadow: 3px 3px 5px white;
		line-height: 70px;
		font-size: 50px;
	}
}

@media only screen and (min-width: 642px){
	#header{
		position: relative;
		width: 100%;
		z-index: 500;
	}
	
	#headerWrap{
		position: relative;
		width: 100%;
		background: #fff;
		border-bottom: 1px solid #ccc;
	}
	
	#header h1{
		padding-top: 1px;
	}
	
	#header h1 img{
		margin-top: 3px;
		max-height: 10px;
		width: auto !important;
	}

	.col3 li{
		margin: 50px auto 0 auto;
		display: block;
	}
	#mainImg{
		margin : 0 auto;
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 400px;
	}
	#mainImg img{
		position: absolute;
		width: 100%;
	}
	.text-center h2{
        padding-top: 20px;
	}

}


@media only screen and (max-width: 641px){
	.col2 li{
		width: 60%;
		vertical-align: top;
	}
	.col2 li:first-child{
		width: 35%;
		padding-right: 4%;
	}
	.quote_emotion_index{
		padding-bottom: 50px;
	}
	#mainImg{
		margin : 0 auto;
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 400px;
	}
	#mainImg img{
		position: absolute;
		width: 100%;
	}
	#startbtn{
		margin-top: 40px;
	}
	
	.catch-text{
		margin-top: 26%;
		margin-left: 60%;
		color: #524949;
		font-family: "arial unicode ms","游ゴシック";
	}
	.catch-text h1{
		text-shadow: 3px 3px 5px white;
		line-height: 70px;
		font-size: 50px;
	}
	
}

@media only screen and (max-width: 640px){
	#mainImg{
		margin : 0 auto;
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 400px;
	  }
	#mainImg img{
		position: absolute;
		width: 100%;
	}

	.innerS{
		width: 94%;
		padding-top: 1px;
		padding-bottom: 70px;
	}
	.innerS h1{
		padding-bottom: 1px;
	}
	.col3 li{
		line-height: 1.7;
	}
	.col3 img{
		margin: 0 auto;
	}
	.col3 .img{
		padding: 30px;
		margin-bottom: 20px;
	}
	.usemic{
		padding-bottom: 10px;
	}
	.font-size text{
		font-size: 11px;
	}
	.quote_emotion_index{
		padding-bottom: 50px;
	}
	#startbtn{
		margin-top: 25px;
		font-size: 10px;
	}
	
	.catch-text{
		margin-top: 380px;
		margin-left: 300px;
		color: #524949;
		font-family: "arial unicode ms","游ゴシック";
	}
	.catch-text h1{
		text-shadow: 3px 3px 5px white;
		line-height: 30px;
		font-size: 20px;
	}
	#back{
		background:url('main.jpg') center no-repeat;
		background-size: cover;
		width: 100%;
		height: 700px;
	}
}

@media only screen and (max-width: 500px){
	#startbtn{
		margin-top: 25px;
		font-size: 10px;
	}
	
	.catch-text{
		margin-top: 380px;
		margin-left: 180px;
		color: #524949;
		font-family: "arial unicode ms","游ゴシック";
	}
	.catch-text h1{
		text-shadow: 3px 3px 5px white;
		line-height: 30px;
		font-size: 20px;
	}
	#back{
		background:url('main.jpg') center no-repeat;
		background-size: cover;
		width: 100%;
		height: 650px;
	}
	#header{
		text-align: center;
		height: 40px;
	}
	#header img{
		width: 110px;
        height: 75px;
	}
	#footer h4{
		font-size: 12px;
	}
	.text-center h2{
        padding-top: 20px;
	}
}

@media only screen and (max-width: 380px){
	#startbtn{
		margin-top: 25px;
		font-size: 10px;
	}
	
	.catch-text{
		margin-top: 350px;
		margin-left: 150px;
		color: #524949;
		font-family: "arial unicode ms","游ゴシック";
	}
	.catch-text h1{
		text-shadow: 3px 3px 5px white;
		line-height: 30px;
		font-size: 20px;
	}
	#back{
		background:url('main.jpg') center no-repeat;
		background-size: cover;
		width: 100%;
		height: 650px;
	}
	#header{
		text-align: center;
		height: 40px;
	}
	#header img{
		width: 110px;
        height: 75px;
	}
	#footer h4{
		font-size: 12px;
	}
	.text-center h2{
        padding-top: 20px;
	}
}

@media only screen and (max-width: 290px){
	#startbtn{
		margin-top: 25px;
		font-size: 10px;
	}
	
	.catch-text{
		margin-top: 280px;
		margin-left: 120px;
		color: #524949;
		font-family: "arial unicode ms","游ゴシック";
	}
	.catch-text a{
		white-space: nowrap;
	}
	.catch-text h1{
		text-shadow: 3px 3px 5px white;
		line-height: 20px;
		font-size: 14px;
	}
	#back{
		background:url('main.jpg') center no-repeat;
		background-size: cover;
		width: 100%;
		height: 550px;
	}
	#header{
		text-align: center;
		height: 40px;
	}
	#header img{
		width: 110px;
        height: 75px;
	}
	#footer h4{
		font-size: 12px;
	}
}

